body{
    margin: 0;
    font-family: 'work sans', sans-serif;
    font-weight: 300;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content:'';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:#6495ed;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

#menu-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}